
.background-1 {
  background-image: url(https://i.redd.it/6io9bdnhsj611.png);
}
  
  .middle-front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
  }
  
  .middle-front-page-info {
    height: 20vh;
    width: 45vw;
    text-align: center;
    
  }